body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  margin: 0 auto;
  padding: 10px 0 20px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  padding: 20px 15px 4px 15px;
}

h3 {
  font-size: 12px;
  padding-left: 15px;
}

div.content {
  display: inline-block;
  width: 90%;
  padding-bottom: 23px;
}

div.arrow {
  display: inline-block;
  width: 5%;
}

div.location {
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: dimgrey;
}

div.location:hover {
    background-color: darkgrey;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
  background-color: lightgrey;
}
